{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Masthead
<header class="masthead">
    <div>
        <picture>
            <img class="indexbackground" src="../../static/img/provo.jpg" alt="pic of downtown provo" style="max-width: 100">
        </picture>
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">Welcome to the Date-A-Base</h1>
                    <hr class="divider" />
                </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">For all those searching to take their dating lives to the next level</p>
                <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
            </div>
        </div>
-->
    
    <head class="indexbg">
        <img class="contain" src="../../static/img/provo.jpg" alt="pic of downtown Provo" style="width:100%;" >
            <h1 class="text-center text-white font-weight-bold">Welcome to the Date-A-Base</h1>
    </head>
    <body>
    
        


<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">So many choices!</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Explore dates around Provo submitted by people just like you</p>
                <a class="btn btn-light btn-xl" href="#services">Get Started!</a>
            </div>
        </div>
    </div>
</section>
<!-- Services-->
<section>
  

</section>
<!-- Picnic and Bowling Images -->
<div>
    <img src="../../static/img/picnic.jpg" alt="picnic date" width="500" height = "460" alight='left'>
    <img src="../../static/img/camping.jpg" alt="bowling date" width="500" height = "460" align='right'>

</div>

{% endblock %}